.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
yarn.lock
src/
build/
config/
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
postcss.config.js
index.html
.prettierrc.js